<!DOCTYPE html>
<html>
<head>
	<title>Let's play a game!</title>
</head>
<body>
	This is going to be so madlit.🔥<br><br>
	<form action="/madlib">
		Name a person:
		<input type="text" name="person"><br>
		Pick a color:
		<input type="text" name="color"><br>
		Choose a noun: 
		<input type="text" name="noun"><br>
		Select an adjective:
		<select name="adjective">
			<option value="gorgeous">Gorgeous</option>
			<option value="stinky">Stinky</option>
			<option value="horrendous">Horrendous</option>
			<option value="shiny">Shiny</option>
		</select>
		<br><input type="submit">
	</form>
</body>
</html>