<!DOCTYPE html>
<html>
<head>
	<title>Let's play a game!</title>
	<link rel="stylesheet" type="text/css" href="/static/madlibs.css"></li>
</head>
<body>
	<div id="game">
	<h2>This is going to be so madlit.</h2>
	<form action="/madlib">
		Name a person:
		<input type="text" name="person"><br><br>
		Pick a color:
		<input type="text" name="color"><br><br>
		Choose a noun: 
		<input type="text" name="noun"><br><br>
		Select an adjective:
		<select name="adjective">
			<option value="gorgeous">Gorgeous</option>
			<option value="stinky">Stinky</option>
			<option value="horrendous">Horrendous</option>
			<option value="shiny">Shiny</option>
		</select>
		<br><br><input type="submit">
	</form>
	</div>
</body>
</html>